.header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: hsl(218,20.4%,34.4%);
    border-bottom: 1px solid hsla(0,0%,100%,0.16);
}