.board {
    height: 100vh;
    background-color: #505f79e6;
}

.board__header {
    height: 56px;
    display: flex;
    align-items: center;
    background-color: hsla(220, 18%, 25%, 0.9);
}
.board__header h1 {
    color: white;
    font-size: 1.2rem;
    padding: 0 30px;
    font-weight: bold;
}

.board__header__add {
    display: flex;
    align-items: center;
}

.board__header__add svg {
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.board__content {
    display: flex;
    width: 100%;
    padding: 20px 30px;
    grid-column: 1;
    grid-gap: 50px;
    flex-wrap: wrap;
}

.board__content__add {
    display: flex;
    align-items: center;
    height: 44px;
    width: 284px;
    background-color: #ffffff3d;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
}

.board__content__add svg {
    margin-right: 10px;
}

.board__content__add p {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.board__content__add__form {
    width: 284px;
    height: 103px;
    background-color: #f1f2f4;
    border-radius: 8px;
    padding: 15px;
}

.board__content__add__form input {
    margin-bottom: 10px;
    background-color: transparent !important;
    color: black !important;
    font-size: 10pt !important;
}

.board__content__add__form svg {
    margin-left: 15px;
    color: black;
    cursor: pointer;
}

.board__content__add__form button {
    background-color: #0C66E4;
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    font-size: 12pt;
}

.board__content__column {
    width: 284px;
    border-radius: 10px;
    background-color: #f1f2f4;
    overflow-y: auto;
    padding-bottom: 15px;
    align-self: start;
}

.column__header {
    color: black;
    font-weight: bold;
    padding: 15px;
}

.task {
    background-color: white;
    padding: 5px 10px;
    margin: 0 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(188, 188, 188);
    color: black;
}

.task__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task__title__priority {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.task__features {
    display: flex;
    margin-top: 5px;
    padding-left: 5px;
}

.task__features > li:not(:last-child) {
    margin-right: 15px;
}

.task__features li > svg {
    font-size: 16px;
    color: #44546F;
}

.column__add {
    display: flex;
    margin: 0 15px;
    align-items: center;
    cursor: pointer;
    width: calc(100% - 30px);
    border-radius: 10px;
    padding: 5px 5px;
}

.column__add:hover {
    background-color: #e8e8e8;
}

.column__add svg {
    margin-right: 10px;
}

@media screen and (max-width: 677px) {
    .board__content {
        align-items: center;
        justify-content: center;
    }    
}